.btn {
  border: none;
  background-color: rgb(236, 66, 51);
  color: white;
  padding: 0.8em;
  font-size: 0.8em;
  border-radius: 10px;
  transition: background 0.3s;
  cursor: pointer;
  &:hover {
    background-color: rgb(182, 45, 32);
  }
  &-disabled {
    background-color: rgb(172, 172, 172);
    &:hover {
      background-color: rgb(172, 172, 172);
      cursor: default;
    }
  }
}
