.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  color: white;
  &-opciones {
    display: flex;
    a {
      display: inline-block;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-link {
    cursor: pointer;
  }
  &-user {
    display: none;
    // display: flex;
    align-items: center;
    &-isActive {
      display: flex;
      position: relative;
      .menu-user-cerrar {
        display: none;
      }
      &:hover {
        & .menu-user-cerrar {
          cursor: pointer;
          display: block;
          position: absolute;
          z-index: 10;
          top: 100%;
          right: 0;
          background: rgb(156, 156, 156);
        }
      }
    }
    > * {
      margin-left: 1em;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &-user-isActive + &-login {
    display: none;
  }
}
