@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Work_Sans/WorkSans-Regular.ttf');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Work_Sans/WorkSans-Bold.ttf');
}
